@use "./Fonts/Faces";

$font-sizes: (
	big: 60px,
	h1: 32px,
	h2: 24px,
	h3: 19px,
	h4: 16px,
	h5: 13px,
	h6: 10px
);

@mixin buildFont($fontName, $family...) {
	.#{$fontName} {
		font-family: $family !important;
	}

	@each $sizeName, $size in $font-sizes {
		.#{$fontName}-#{$sizeName} {
			font-family: $family !important;
			font-size: $size !important;
		}
	}
}

@include buildFont(calli, "Calligraffitti", cursive);
@include buildFont(poiret, "Poiret One", sans-serif);
@include buildFont(ubuntu, "Ubuntu", sans-serif);
