@use "./Fonts/Faces";

@use "sass:list";

$font-sizes: (32px, 24px, 19px, 16px, 13px, 10px);

@mixin buildFont($name, $family...) {
	.#{$name} {
		font-family: $family !important;
	}

	@each $size in $font-sizes {
		$i: list.index($font-sizes, $size);

		.#{$name}-h#{$i} {
			font-family: $family !important;
			font-size: $size !important;
		}
	}
}

@include buildFont(calli, "Calligraffitti", cursive);
@include buildFont(poiret, "Poiret One", sans-serif);
@include buildFont(ubuntu, "Ubuntu", sans-serif);
