@use "./Themes";

@use "./Highlights/AtomOneDark" as AtomOneDark;
@use "./Highlights/AtomOneLight" as AtomOneLight;
@use "./Highlights/NightOwl" as NightOwl;
@use "./Highlights/VS2015" as VS2015;

.markdown {
	@include Themes.darkMode {
		@include VS2015.highlight;
	}

	@include Themes.lightMode {
		@include AtomOneLight.highlight;
	}

	* {
		max-width: 100%;
	}

	hr {
		border-style: none;
		background-color: rgba(100, 100, 100, 0.2);
		min-height: 5px;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-weight: 600;
	}

	h1,
	h2 {
		margin: 0 0 18px 0;
		padding-bottom: 0.3rem;
		border-bottom: 1px solid;
		border-bottom-color: rgba(100, 100, 100, 0.2);
	}

	a {
		color: rgb(77, 172, 253);
		text-decoration: none;
	}

	ul {
		margin: 18px 0;
		padding-left: 40px;
		list-style: disc;
	}
}
