@use "sass:math";
@use "sass:meta";
@use "sass:map";
@use "sass:list";

$medias: (
	desktop: "min-width: 1224px",
	tabletOrMobile: "max-device-width: 1224px",
	portrait: "orientation: portrait",
	retina: "min-resolution: 2dppx",
	big: "min-device-width: 1824px",
);

$breakpoints: (
	xs: "max-width: 600px",
	sm: "max-width: 900px",
	md: "max-width: 1200px",
	lg: "max-width: 1536px",
	xl: "max-width: 1920px",
);

$queries: map.merge($medias, $breakpoints);

$sizes: (0, 25, 50, 75, 100) !default;

@mixin media($keys...) {
	@for $i from 0 to length($keys) {
		$key: list.nth($keys, $i + 1);
		@media (map.get($queries, $key)) {
			@content;
		}
	}
}

@each $size in $sizes {
	.w-#{$size} {
		width: math.percentage(math.div($size, 100));
	}

	.vw-#{$size} {
		min-width: #{$size}vw;
	}

	.h-#{$size} {
		height: math.percentage(math.div($size, 100));
	}

	.vh-#{$size} {
		min-height: #{$size}vh;
	}
}
