@use "./Transitions";

$themes: (
	light: "light",
	dark: "dark"
);

@mixin lightMode() {
	@each $theme, $mode in $themes {
		@if ($mode == "light") {
			[data-theme="light"] & {
				@content;
				@include Transitions.colors(0.5s);
			}
		}
	}
}

@mixin darkMode() {
	@each $theme, $mode in $themes {
		@if ($mode == "dark") {
			[data-theme="dark"] & {
				@content;
				@include Transitions.colors(0.5s);
			}
		}
	}
}

@mixin theme($theme) {
	&.#{$theme} {
		@content;
		@include Transitions.colors(0.5s);
	}
}
