$link-color: steelblue;
$link-color-visited: rgb(136, 0, 233);
$link-color-hover: slateblue;

.link {
	color: $link-color;
	cursor: pointer;

	&:visited {
		color: $link-color-visited;
	}

	&:hover {
		color: $link-color-hover;
	}
}

.nolink {
	text-decoration: none;
}

.noselect {
	user-select: none;
}

.nopointer {
	pointer-events: none;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.underline-dot {
	text-decoration: underline dotted;
}

.underline-wavy {
	text-decoration: wavy underline;
}

.pre-line {
	white-space: pre-line;
}
